/** Content Container Styling **/
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  max-width: 600px;
  overflow: auto;
}

/** Manage layout for the container that holds the check answers and play again buttons + text **/
.flex-margin {
  display: flex;
  margin-top: 2rem;
}

.check-answers-container {
  justify-content: center;
}

.play-again-container {
  align-items: center;
  justify-content: space-between;
}

/** Provides a background color to the check answers and play again buttons **/
.quiz-buttons:hover {
  background-color: #4d5b9e83;
}

.fade-in-top {
  animation: fadeTop 1s 1 linear;
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
