/** Content Container Styling **/
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  max-width: 600px;
  overflow: auto;
}

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 700;
}

/** Button and Button Container Styling **/
.flex-plus-gap {
  display: flex;
  gap: 1rem;
}

.responses {
  background-color: rgba(255, 255, 255, 0);
  border-color: #4d5b9e;
  color: #293264;
  font-weight: 500;

  padding: 0.438rem 1.063rem;
  margin-bottom: 1.5rem;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.selected-button {
  background-color: rgba(188, 233, 64, 0.795);
}

.correct-answer {
  background-color: rgba(7, 175, 7, 0.24);
}

.incorrect-answer {
  background-color: rgba(255, 0, 0, 0.363);
}
