#root {
  margin: 0 auto;
  padding: 2rem;
}

* {
  margin: 0;
}

button {
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: 1px solid transparent;
  border-radius: 0.938rem;
  padding: 0.938rem 4.063rem;
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  background-color: rgba(77, 211, 77, 0.568);
  color: #293264;
}

.blobs {
  width: 300px;
  height: 300px;
  position: fixed;
  z-index: -1;

  transform: rotate(-128.49deg);
}

.yellow-blob {
  border-radius: 55% 45% 59% 41% / 32% 51% 49% 68%;
  right: -100px;
  top: -150px;
  background-color: #fefad1;
}

.blue-blob {
  border-radius: 50% 60% 70% 40% / 20% 40% 60% 40%;
  left: -150px;
  bottom: -80px;
  background-color: #deebf8;
}

h1 {
  font-weight: 700;
  font-size: 1.953rem;
}

img {
  margin-bottom: 1rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.top-bottom-spacing {
  margin-top: 0.938rem;
  margin-bottom: 1.563rem;
}

.spin {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.check-answers-button {
  align-self: center;
  margin-top: 3rem;
}

.check-answers-button:hover {
  background-color: #4d5b9e83;

